{% extends 'mercaderia/base.html' %}
{% block Personal %}
<p>
Hola soy Gonzalo Urcola, tengo 23 años y al dia de la fecha soy estudiante.    Soy de Mendoza, Argentina y espero poder seguir realizando cursos de este estilo para complementar con mi carrera.  
</p>
<p>
El trabajo realizado lo hice por mi cuenta y no en grupo, por ende me responsabilizo por las cosas buenas y malas.
Es tambien por esto que no habra una explicacion mayor sobre quien hizo que, ya que hice todo yo desde los primeros templates hasta los formularios y demas.
</p>
        
{% endblock Personal %}

{% block titulo %}
<title>YO</title>
{% endblock titulo %}