{% extends 'mercaderia/base.html' %}
{% block Personal %}
<p>Listado de Productos</p>

<form action={% url 'ver_productos' %} method="GET">
    <table> 
        {{formulario}}
    </table>
   
    <input type="submit" value="Buscar">
</form>
<p>
 {% for producto in productos %}
 <li> {{producto.tipo}} {{producto.modelo}} 
    <button>
        <a class="navbar-brand" href={% url 'eliminarM' producto.id %}>Eliminar</a> 
    </button>  

 </li>
</p>
 {% endfor %}
        
{% endblock Personal %}

{% block titulo %}
<title>Ver</title>
{% endblock titulo %}
    