{% extends 'mercaderia/base.html' %}
{% block Personal %}
<p>Listado de Productos</p>

<form action={% url 'ver_productos' %} method="GET">
    <table> 
        {{formulario}}
    </table>
   
    <input type="submit" value="Buscar">
</form>
<p>
 {% for producto in productos %}

    <li> {{producto.tipo}}  
            <button>
            <a class="brand" href={% url 'eliminarM' producto.id %}>Eliminar</a> 
            <a class="brand" href={% url 'ver_producto' producto.id %}>Detalle</a> 
            <a class="brand" href={% url 'editar_prod' producto.id %}>Editar</a> 
            </button>  
            </button>  
            </button>  

    </li>
    
</p>
 {% endfor %}
        
{% endblock Personal %}

{% block titulo %}
<title>Ver</title>
{% endblock titulo %}
    