{% extends 'mercaderia/base.html' %}

{% block titulo %}
<title>Informacion Perfil</title>
{% endblock titulo %}

{% block Personal %}
<h1>
    Informacion del Usuario
<p>
    <li>
        {% if  request.user.usuarioext.avatar%}
        <height><img src={{request.user.usuarioext.avatar.url}} alt=""></height>
        {% else %}
        Imagen no cargada
        {% endif %}
        
    </li>

</p>
</h1>
<li>Nombre: {{request.user.first_name}}</li>
<li>Apellido: {{request.user.last_name}}</li>
<li>Email: {{request.user.email}}</li>
<li>Pais Residencia: {{request.user.pais}}</li>
<p>
    ______________________________________________________________
</p>
<p>
    <a href={% url 'editar_perfil' %}>Editar Datos</a>
</p>
<p>
    <a href={% url 'editar_contraseña' %}>Editar Contraseña</a>
</p>

{% endblock Personal %}